# Parking violations in New York City-1

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime, date, time
import datetime
from IPython.display import Image
from sqlalchemy import create_engine
import sqlite3
import csv
import time

In [2]:
%matplotlib inline

In [3]:
file='E:\\DS18\\datacamp\\NYC\\ParkingViolations2017.csv'

In [4]:
print(pd.read_csv(file, nrows=5))
Parking2017 = create_engine('sqlite:///Parking2017.db')

   Summons Number Plate ID Registration State Plate Type  Issue Date  \
0      5092469481  GZH7067                 NY        PAS  07/10/2016
1      5092451658  GZH7067                 NY        PAS  07/08/2016
2      4006265037  FZX9232                 NY        PAS  08/23/2016
3      8478629828  66623ME                 NY        COM  06/14/2017
4      7868300310  37033JV                 NY        COM  11/21/2016

   Violation Code Vehicle Body Type Vehicle Make Issuing Agency  Street Code1  \
0               7              SUBN        TOYOT              V             0
1               7              SUBN        TOYOT              V             0
2               5              SUBN         FORD              V             0
3              47              REFG        MITSU              T         10610
4              69              DELV        INTER              T         10510

            ...             Vehicle Color  Unregistered Vehicle?  \
0           ...                        GY                    NaN
1           ...                        GY                    NaN
2           ...                        BK                    NaN
3           ...                        WH                    NaN
4           ...                     WHITE                    NaN

   Vehicle Year  Meter Number  Feet From Curb  Violation Post Code  \
0          2001           NaN               0                  NaN
1          2001           NaN               0                  NaN
2          2004           NaN               0                  NaN
3          2007           NaN               0                   04
4          2007           NaN               0                 31 6

           Violation Description No Standing or Stopping Violation  \
0   FAILURE TO STOP AT RED LIGHT                               NaN
1   FAILURE TO STOP AT RED LIGHT                               NaN
2             BUS LANE VIOLATION                               NaN
3          47-Double PKG-Midtown                               NaN
4  69-Failure to Disp Muni Recpt                               NaN

  Hydrant Violation Double Parking Violation
0               NaN                      NaN
1               NaN                      NaN
2               NaN                      NaN
3               NaN                      NaN
4               NaN                      NaN

[5 rows x 43 columns]

In [ ]:
start = time.time()
chunksize = 1000000
i = 0
j = 1
for df in pd.read_csv(file, chunksize=chunksize, iterator=True,low_memory=False):
    #dtype={"Summons Number": int, "Registration State": object,"Vehicle Make":object,"Issuer Squad":object}
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
    df.index += j
    i+=1
    df.to_sql('table', Parking2017, if_exists='append')
    j = df.index[-1] + 1
    
end = time.time()
elapsed = end - start
print(elapsed)